In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.metrics import r2_score, mean_squared_error
from scipy import stats
import statsmodels.api as sm
%matplotlib inline

In [2]:
df_train = pd.read_csv('datasets/train_polished.csv')
df_test = pd.read_csv('datasets/test_polished.csv')

In [5]:
df_train.head()

,Id,Lot Frontage,Lot Area,Neighborhood,Overall Qual,Year Built,Year Remod/Add,Exterior 1st,Exterior 2nd,Exter Qual,...,Garage Qual,Paved Drive,Mo Sold,Yr Sold,SalePrice,total bath,total sf,age,Neighborhood Interaction,overall SF Interaction
0,109,69,13517,0,6,1976,2005,HdBoard,Plywood,4,...,3,3,3,2010,130500,2.5,2679.0,34,0.0,16074.0
1,544,43,11492,2,7,1996,1997,VinylSd,VinylSd,4,...,3,3,4,2009,220000,3.5,3594.0,13,7188.0,25158.0
2,153,68,7922,0,5,1953,2007,VinylSd,VinylSd,3,...,3,3,1,2010,109000,2.0,2360.0,57,0.0,11800.0
3,318,73,9802,5,5,2006,2007,VinylSd,VinylSd,3,...,3,3,4,2010,174000,2.5,2228.0,4,11140.0,11140.0
4,255,82,14235,2,6,1900,1993,Wd Sdng,Plywood,3,...,3,1,3,2010,138500,2.0,2605.0,110,5210.0,15630.0

In [15]:
X_train = df_train[['Lot Frontage', 'Lot Area', 'Neighborhood', 'Overall Qual',
       'Year Built', 'Year Remod/Add', 
       'Exter Qual',  'Bsmt Qual', 'Total Bsmt SF',
       'Heating QC', 'Central Air', 'Gr Liv Area', 'Kitchen Qual',
       'TotRms AbvGrd',  'Fireplaces', 
       'Garage Cars',  'Garage Qual', 'Paved Drive', 'Mo Sold',
       'Yr Sold', 'total bath', 'total sf', 'age',
       'Neighborhood Interaction', 'overall SF Interaction']]
y_train = df_train['SalePrice'] ## Sale price
####instatiatie model
Y_train = np.log(y_train)
model = LinearRegression()
###fit model to train data
model.fit(X_train, Y_train)
# check the score on the training data
model.score(X_train, Y_train)

0.8798772833956569

In [16]:
X_test = df_test[['Lot Frontage', 'Lot Area', 'Neighborhood', 'Overall Qual',
       'Year Built', 'Year Remod/Add', 
       'Exter Qual',  'Bsmt Qual', 'Total Bsmt SF',
       'Heating QC', 'Central Air', 'Gr Liv Area', 'Kitchen Qual',
       'TotRms AbvGrd',  'Fireplaces', 
       'Garage Cars',  'Garage Qual', 'Paved Drive', 'Mo Sold',
       'Yr Sold', 'total bath', 'total sf', 'age',
       'Neighborhood Interaction', 'overall SF Interaction']]  
y_hat = np.exp(model.predict(X_test))

In [17]:
friday_model = pd.DataFrame({'Id': df_test['Id'],
                                     'SalePrice': y_hat,})
friday_model.head()

     Id      SalePrice
0  2658  123449.922132
1  2718  171336.374336
2  2414  219029.366604
3  1989  110615.885592
4   625  172284.263528

In [18]:
friday_model.to_csv('friday_model.csv', index=False)